<div class="card-header card-header-collapse px-3 py-2 bg-secondary text-dark rounded-0" role="button" data-toggle="collapse" data-target="#collapse13434" aria-expanded="false" aria-controls="collapse13434">
    <h6 class="mb-0 text-dark">
        <i class="fas fa-file-pdfcard-header-sidebar-icon-fw pr-2"></i>{{ ViewName }} <span class="badge badge-dark badge-pill badge-sm border-white text-xs">{{ ItemSource.Items.length }}</span>
    </h6>
</div>
<div class="collapse overflow-h" id="collapse13434">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'DateCreated'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Date Created
                        <span ng-show="ItemSource.GridSettings.SortType == 'DateCreated' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'DateCreated' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'DocumentType'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Document Type
                        <span ng-show="ItemSource.GridSettings.SortType == 'DocumentType' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'DocumentType' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'DocumentTitle'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Document Title
                        <span ng-show="ItemSource.GridSettings.SortType == 'DocumentTitle' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'DocumentTitle' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ItemSource.Items | orderBy:ItemSource.GridSettings.SortType:ItemSource.GridSettings.SortReverse | limitTo:ItemSource.GridSettings.DisplayCount">
                <!--<th scope="row">
                    <button type="button" class="btn btn-gradient-action btn-sm rounded-0">
                        View
                    </button>
                </th>-->
                <td scope="row" ng-click="showmoreif($event)">{{ item.DateCreated | date :  "MM/dd/y" }} </td>
                <td ng-click="showmoreif($event)">{{ item.DocumentType }} </td>
                <td ng-click="showmoreif($event)"><a role="button" href="{{ item.DocumentUrl }}" target="_blank" class="btn btn-sm btn-link pl-0 py-1 text-dark"><span class="pr-1 text-red"><i class="fas fa-file-download"></i></span>{{ item.DocumentTitle }}</a> </td>
            </tr>
        </tbody>
    </table>
</div>