<div class="card-header card-header-collapse px-3 py-2 bg-secondary text-dark rounded-0" role="button" data-toggle="collapse" data-target="#collapse13435" aria-expanded="false" aria-controls="collapse13435">
    <h6 class="mb-0 text-dark">
        <i class="fas fa-file-pdfcard-header-sidebar-icon-fw pr-2"></i>{{ ViewName }} <span class="badge badge-dark badge-pill badge-sm border-white text-xs">{{ ItemSource.Items.length }}</span>
    </h6>
</div>
<div class="collapse overflow-h" id="collapse13435">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'Date'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Date
                        <span ng-show="ItemSource.GridSettings.SortType == 'Date' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'Date' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'Type'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Type
                        <span ng-show="ItemSource.GridSettings.SortType == 'Type' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'Type' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'Description'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Description
                        <span ng-show="ItemSource.GridSettings.SortType == 'Description' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'Description' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'Amount'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Amount
                        <span ng-show="ItemSource.GridSettings.SortType == 'Amount' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'Amount' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'InvoiceNumber'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Invoice Number
                        <span ng-show="ItemSource.GridSettings.SortType == 'InvoiceNumber' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'InvoiceNumber' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th scope="col">
                    <a role="button" href="javascript:" class="text-white" ng-click="ItemSource.GridSettings.SortType = 'Status'; ItemSource.GridSettings.SortReverse = !ItemSource.GridSettings.SortReverse">
                        Status
                        <span ng-show="ItemSource.GridSettings.SortType == 'Status' && !ItemSource.GridSettings.SortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="ItemSource.GridSettings.SortType == 'Status' && ItemSource.GridSettings.SortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ItemSource.Items | orderBy:ItemSource.GridSettings.SortType:ItemSource.GridSettings.SortReverse | limitTo:ItemSource.GridSettings.DisplayCount">
                <td scope="row" ng-click="showmoreif($event)">{{ item.Date | date :  "MM/dd/y" }} </td>
                <td ng-click="showmoreif($event)">{{ item.Type }} </td>
                <td ng-click="showmoreif($event)">{{ item.Description }} </td>
                <td ng-click="showmoreif($event)" class=" text-right">{{ item.Amount | currency:"$" }} </td>
                <td ng-click="showmoreif($event)">{{ item.InvoiceNumber }} </td>
                <td ng-click="showmoreif($event)">{{ item.Status }} </td>
            </tr>
        </tbody>
    </table>
</div>